* {
    padding: 0;
    margin: 0;
}

.clear::after {
    display: block;
    height: 0;
    clear: both;
    content: " ";
}

.top {
    /* 设置宽度高度背景颜色 */
    height: 50px;
    width: 100%;
    background: rgb(189, 181, 181);
}

.top ul {
    /* 清除ul标签的默认样式 */
    width: 40%;
    list-style-type: none;
    margin: 0 30%;
    padding: 0;
    overflow: hidden;
}

.top li {
    width: 16.66%;
    float: left; /* 使li内容横向浮动，即横向排列 */
}

.top li a {
    display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* 去除下划线 */
}

.top li a:hover {
    background-color: #111;
}

.top ul li ul {
    background: rgb(189, 181, 181);
    position: absolute;
    display: none; /* 默认隐藏二级菜单的内容 */
}

.top ul li ul li {
    /* 二级菜单li内容的显示 */
    margin-right: 30%;
    float: none;
    text-align: center;
}

.top ul li:hover ul {
    /* 鼠标选中二级菜单内容时 */
    display: block;
}

.body {
    width: 50%;
    margin: 30px 25%;
}

.item {
    margin-bottom: 2rem;
    box-shadow: 0 0 10px 1px gray;
    padding: 0.5rem;
}

.title {
    font-size: 20px;
    color: red;
}

.title_detail {
    font-size: 20px;
    color: red;
    text-align: center;
}

.title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.title_detail:hover {
    cursor: pointer;
}

.wrap {
    margin: 1rem 0;
}

.img_wrap {
    width: 20%;
    margin-right: 1rem;
    float: left;
}

.img_wrap img {
    width: 100%;
}

.item_content .item_content_detail {
    line-height: 2rem;
    text-indent: 2rem;
}

.item_content:hover {
    text-decoration: underline;
    cursor: pointer;
}

.item_content_detail:hover {
    cursor: pointer;
}

.actions {
    height: 3rem;
    line-height: 3rem;
}

.actions button {
    float: right;
    margin-right: 1rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    background: transparent;
    outline: none;
    padding: 0.5rem;
}

.actions button:hover {
    border: 1px solid gray;
}

.down {
    margin: 0 0.5rem;
    width: 0.75rem;
    height: 0.75rem;
    display: inline-block;
    vertical-align: top;
}

.down::after {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform-origin: center;
    transform: rotate(-135deg);
}

.love {
    display: inline-block;
    width: 1rem;
    height: 0.8rem;
    position: relative;
    background-color: transparent;
    margin: 0 0.1rem;
    vertical-align: text-top;
}

.love:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.5rem;
    height: 0.8rem;
    border-radius: 0.5rem 0.5rem 0 0;
    transform: rotate(45deg);
    transform-origin: right bottom;
    background-color: red;
}

.love:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0.5rem;
    height: 0.8rem;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: red;
    transform: rotate(-45deg);
    transform-origin: left bottom;
}


.container {
    background: #fdfdfd;
    padding: 1rem;
    margin: 3rem auto;
    border-radius: 0.2rem;
    counter-reset: pagination;
    text-align: center;
}

.container:after {
    clear: both;
    content: "";
    display: table;
}

.container ul {
    width: 100%;
}

.large {
    width: 45rem;
}


.pagination ul, li {
    list-style: none;
    display: inline;
    padding-left: 0px;
}

.pagination li {
    counter-increment: pagination;
}

.pagination li:hover a {
    color: #fdfdfd;
    background-color: #1d1f20;
    border: solid 1px #1d1f20;
}

.pagination li.active a {
    color: #fdfdfd;
    background-color: #1d1f20;
    border: solid 1px #1d1f20;
}

.pagination li:first-child a:after {
    content: "<";
}

.pagination li:nth-child(2) {
    counter-reset: pagination;
}

.pagination li:last-child a:after {
    content: ">";
}

.pagination li a {
    border: solid 1px #d6d6d6;
    border-radius: 0.2rem;
    color: #7d7d7d;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.9rem;
}

.pagination li a:after {
    content: " " counter(pagination) " ";
}

.large li a {
    display: none;
}

.large li:first-child a {
    display: inline-block;
}

.large li:first-child a:after {
    content: "<";
}

.large li:nth-child(2) a {
    display: inline-block;
}

.large li:nth-child(3) a {
    display: inline-block;
}

.large li:nth-child(4) a {
    display: inline-block;
}

.large li:nth-child(5) a {
    display: inline-block;
}

.large li:nth-child(6) a {
    display: inline-block;
}

.large li:nth-child(7) a {
    display: inline-block;
}

.large li:nth-child(8) a {
    display: inline-block;
}

.large li:last-child a {
    display: inline-block;
}

.large li:last-child a:after {
    content: ">";
}

.large li:nth-last-child(2) a {
    display: inline-block;
}

.large li:nth-last-child(3) {
    display: inline-block;
}

/*.large li:nth-last-child(3):after {*/
/*  padding: 0 1rem;*/
/*  content: "...";*/
/*}*/

.Popover {
    float: right;
    position: relative;
    display: inline-block;
}

.AuthorInfo-avatar {
    vertical-align: top;
}

.Avatar {
    background: #fff;
    border-radius: 2px;
}

.AuthorInfo-badgeText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #646464;
}

.ztext {
    word-break: break-word;
    line-height: 1.6;
}

.inline{ display:inline}